[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyjwt = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"
inflection = "*"
factory-boy = "==2.11.1"
pytest-django = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
