[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyjwt = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"
inflection = "*"
factory-boy = "==2.11.1"
pytest-django = "*"
django-money = "==2.1"
django-pglocks = "*"
requests = "==2.26.0"
python-dateutil = "==2.8.2"
pytest-cov = "==3.0.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
